.nav{
    height: 70px;
    background-color:whitesmoke;
    color: red;
}

.footer{

height: 60px;
background-color:rgb(144, 221, 221);

}
.main{
    background-image: url(https://w0.peakpx.com/wallpaper/23/602/HD-wallpaper-travelling-around-big-ben-famous-statue-of-liberty-travel-world.jpg);
     height: 100vh;
    background-repeat: no-repeat; 
}

.btn-exp{
    height: 40px;
    width: 100px;
    background-color: gray;
    color: blue;
    font-style: italic;
    border: 1px solid black;
    border-radius: 5px;
}
h2{
    color: blueviolet;
    font-style: italic;
    font-size: large;
    text-decoration: underline;
}