.nav{
    height: 70px;
    background-color:whitesmoke;
    color: red;
}

.footer{
height: 60px;
background-color:rgb(144, 221, 221);
}

.main{
    background-image: 
    url(https://w0.peakpx.com/wallpaper/23/602/HD-wallpaper-travelling-around-big-ben-famous-statue-of-liberty-travel-world.jpg);
     height: 100vh;
    background-repeat: no-repeat; 
}

.btn-exp{
    height: 40px;
    width: 100px;
    background-color: gray;
    color: blue;
    font-style: italic;
    border: 1px solid black;
    border-radius: 5px;
}

.munich{
    color:blue;
   background-color: azure;
    height: 40px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;  
}
.italy{
    color:blue;
   background-color: azure;
    height: 40px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px; 
    font-size: large;
    font-weight: bold;
}
.barcelona{
    color:blue;
   background-color: azure;
    height: 40px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px; 
    font-size: large;
    font-weight: bold;
}
.prague{
    color:blue;
   background-color: azure;
    height: 40px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px; 
    font-size: large;
    font-weight: bold;
}
.gdansk{
    color:blue;
   background-color: azure;
    height: 40px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px; 
    font-size: large;
    font-weight: bold;
}
.switz{
    color:blue;
   background-color: azure;
    height: 40px;
    width: 150px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px; 
    font-size: large;
    font-weight: bold;
}
.mchimg1{
    background-color: aliceblue;
    border: 2px  ;
    border-radius: 10px ; 
}
.mchimg2{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.img2{
    height: 200px;
    width: 190px;
    border: 2px ;
    border-radius: 10px  ;
}
.mchimg3{
    display: flex;
    flex-direction: row;
    margin-top: 9px;
}
.img3{
    height: 200px;
    width: 190px;
    border: 2px ;
    border-radius: 10px  ;
}
.mchpara{
    color: rgb(103, 103, 248);
    font-style: italic;
    font-family: cursive;
    font-weight: bold;
    padding-top: 10px;
    top: 3px;
}
.mchhme{
    height: 70px;
    width: 100px;
    text-align: center;
    font-style: italic;
    font-size: medium;
    font-weight: bold;
    color: rgb(63, 0, 211);
    background-color:rgb(235, 204, 209);
    border: 4px solid rgb(0, 87, 128);
    border-radius: 7px;
    margin-right: 60px;
    margin-left: 40px;
}
h2{
    color: darkblue;
    font-style: italic;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px;
}
.munpage{
    padding: 10px;
    background-color:azure;
}
.mchpara2{
    color: rgba(71, 71, 239, 0.619);
    font-style: italic;
    font-family: cursive;
    font-weight: bold;
    padding-top: 10px;
    top: 3px;
}
.mchpara3{
    color: rgb(83, 83, 196);
    font-style: italic;
    font-family: cursive;
    font-weight: bold;
    padding-top: 10px;
    top: 3px;
}

